<div class="px-24 bg-neutral-100 pt-7">
  <div class="flex items-center ">
    <div class="w-1/2 space-y-4">
      <h1 class="text-6xl font-bold">
        <span>
          Feeling
        </span>
        <span class="text-orange-600">Hungry?</span>
      </h1>
      <h1 class="text-5xl font-bold">Why wait!</h1>
      <button class="px-10 py-4 font-bold text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">Order Now</button>
    </div>
    <div class="w-1/2">
      <img src="/images/pizza.png" class="w-[660px]" alt="pizza">
    </div>
  </div>

  <div class="pt-7 pb-7">
    <h1 class="text-2xl font-semibold">All Pizzas</h1>
    <div class="grid grid-cols-4 mt-7 gap-x-9 gap-y-7">
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
      <div class="p-5 space-y-3 bg-white rounded-xl">
        <div>
          <img src="/images/piz1.jpg" class="mx-auto h-60" alt="pizza">
        </div>
        <div class="flex items-center justify-around space-x-9">
          <h3 class="text-2xl font-bold">Heading</h3>
          <p class="px-4 py-1 text-sm text-white rounded-full bg-neutral-500">Badge</p>
        </div>
        <div class="flex items-center justify-around pt-5">
          <h2 class="text-2xl font-bold">Rs. 300</h2>
          <button class="px-6 py-2 text-white transition-colors bg-orange-600 rounded-full hover:bg-orange-700">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>