<div class="flex items-center justify-center w-full h-[90vh] bg-neutral-100">
  <div class="w-[350px]  overflow-hidden bg-white rounded-lg">
    <div class="py-10 text-2xl text-center text-white bg-orange-600 ">
      <h1 class="font-bold">Hello Customer!</h1>
    </div>
    <form action="" class="px-8 py-5 mt-5">
      <div class="flex flex-col mb-3 space-y-2">
        <label>Email</label>
        <input type="email" name="email" class="px-3 py-2 ring-1 ring-orange-600 focus:outline-none text-neutral-600">
      </div>
      <div class="flex flex-col mb-6 space-y-2">
        <label>Password</label>
        <input type="password" name="password" class="px-3 py-2 ring-1 ring-orange-600 focus:outline-none text-neutral-600">
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="px-5 py-2 text-white bg-orange-600 rounded-md hover:bg-orange-700">Login</button>
        <p>New Customer? <span>
            <a href="/register" class="text-blue-900">Register</a>
          </span></p>
      </div>
    </form>
  </div>
</div>